:root {
  --accent: rgba(70, 127, 247, 1);
  --accent-text-font-family: "Poppins-Medium", Helvetica;
  --accent-text-font-size: 16px;
  --accent-text-font-style: normal;
  --accent-text-font-weight: 500;
  --accent-text-letter-spacing: 0px;
  --accent-text-line-height: 20px;
  --bg-kit: rgba(255, 255, 255, 1);
  --body-text: rgba(50, 74, 109, 1);
  --body-text-font-family: "Poppins-Light", Helvetica;
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-weight: 300;
  --body-text-italic-capital-font-family: "Poppins-MediumItalic", Helvetica;
  --body-text-italic-capital-font-size: 16px;
  --body-text-italic-capital-font-style: italic;
  --body-text-italic-capital-font-weight: 500;
  --body-text-italic-capital-letter-spacing: 0px;
  --body-text-italic-capital-line-height: 24px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 24px;
  --box-title-font-family: "Poppins-SemiBold", Helvetica;
  --box-title-font-size: 22px;
  --box-title-font-style: normal;
  --box-title-font-weight: 600;
  --box-title-letter-spacing: 0px;
  --box-title-line-height: 26px;
  --primary: rgba(28, 36, 72, 1);
  --primary-font-family: "Poppins-SemiBold", Helvetica;
  --primary-font-size: 65px;
  --primary-font-style: normal;
  --primary-font-weight: 600;
  --primary-letter-spacing: 0px;
  --primary-line-height: 70px;
  --secondary: rgba(243, 245, 248, 1);
  --subtitle-font-family: "Poppins-Regular", Helvetica;
  --subtitle-font-size: 22px;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 400;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 32px;
  --white-element: rgba(255, 255, 255, 1);
}
